.header{
    display: flex;
    background: rgba(229, 84, 115, 0.10);
}
.header .header_left{
    margin-left: 240px;
}
.header .header_right{
    margin-right: 240px;
    margin-top: 50px;
}
.header .header_right .main_img{
    width: 635px;
    height: 800px;
    flex-shrink: 0;
}
.header .header_left .heading_text_main{
    margin-top: 197px;
    max-width: 708px;
    max-height: 288px;
}
.header .header_left .heading_text_main .text_main{
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-right: 9%;
}
.header .header_left .heading_text_main .text_secondary{
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-right: 17%;
    margin-top: 32px;
}

.header .header_left .heading_text_main .btn_shop_now{
    border-radius: 8px;
    background: #E55473;
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border: white;
}
.header .header_left .heading_text_main .btn_shop_now .btn_text{
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.second_layout{
    background: #FFF;
}
.second_layout .s_title{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.second_layout .s_subtitle{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    margin-right: 34%;
    margin-left: 34%;
}
.second_layout .three_main_flower{
    margin: 2% 10% 0 10%;
    display: flex;
}
.second_layout .three_main_flower .f_card{
    width: 464px;
    height: 538px;
    flex-shrink: 0;
}
.second_layout .three_main_flower .f_card .f1{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding-top: 110px;
    padding-left: 76px;
    padding-right: 78px;
}

.second_layout .three_main_flower .f2_card{
    width: 464px;
    height: 538px;
    flex-shrink: 0;
    margin-left: 20px;
}

.second_layout .three_main_flower .f2_card .f2{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding: 117px 47px 51px 47px;
}
.second_layout .three_main_flower .f3_card{
    /* width: 314px; */
    height: 471px;
    flex-shrink: 0;
    margin-left: 20px;
}

.second_layout .three_main_flower .f3_card .f3{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding: 67px 75px 0 75px;
}
.link{
    margin-top: 32px;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px; /* 145.833% */
    text-decoration-line: underline;
}
a{
    color: #272727;
}

.second_layout .three_main_service {
    display: flex;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin: 10% 10% 0 10%;
}
.second_layout .three_main_service .s1_card {
    padding: 100px 0 87px 197px;
}
.second_layout .three_main_service .s1 {
    padding: 0 0 0 120px;
}
.second_layout .three_main_service .s1_txt {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px; /* 145.833% */
}
.second_layout .three_main_service .s2_card {
    padding: 100px 0 87px 10px;
    margin-left: 50px;
}

.second_layout .three_main_service .s3 {
    padding: 0 0 0 50px;
}

